
html, body {
  margin: 0;
  padding: 0;
  background: #171317;

  font-family: Helvetica, arial, sans-serif;
  color: #eceeeb;
}

body {
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.2em 0;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.box {
  border: 1px solid #616261;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
}

img {
  max-width: 100%;
}
