
html, body {
  margin: 0;
  padding: 0;
  background: #171317;

  font-family: Helvetica Neue, Helvetica, arial, sans-serif;
  color: #eceeeb;
}

body {
  padding: 1rem;
}

h1 {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.03rem;
  margin-bottom: 0.5rem;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.box {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
  background: #111;
}

img {
  object-fit: contain;
  max-width: 100%;
  max-height: 80vh;
  height: auto;
}

.module-name {
  float: right;
  color: #bfbfbf;
  display: flex;
  align-items: center;
}

.complete {
  color: #99f98b;
}

.box-content {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5em;
}

.box-content .left {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 0.5em;
  grid-auto-rows: max-content;
}

.box-content .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

pre.base64 {
  white-space: pre-wrap;
  word-break: break-all;
}

.icon {
  fill: #979595;
  width: 1.25em;
}

.icon:active {
  fill: #dbdbdb;
}

.module-state {
  margin: 0 0.4rem;
}

.argument {
  margin-right: 0.5em;
}

.argument input {
  background: #212121;
  border-radius: 3px;
  color: #eceeeb;
  border: none;
  padding: 0.3rem;
  font-size: 0.9rem;
}

.argument .label {
  margin-bottom: 0.25rem;
}

.delete-operation {
  display: flex;
}

.file-names {
  word-break: break-all;
}

.file-details {
  color: #acacac;
}

a {
  color: #7ffdf1;
}

a:visited {
  color: #bb85fd;
}

.download-link {
  font-size: larger;
}

@media screen and (orientation:portrait) {
  .box-content {
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    grid-row-gap: 1em;
  }
}
